.rm_wrap { width: 740px; }
.rm_section { border: 1px solid #ddd; height: 100%; border-bottom: 0; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.rm_opts label { font-size: 12px; font-weight: 700; width: 200px; display: block; float: left; }
.rm_input { padding: 20px 10px; border-bottom: 1px solid #ddd; }
.rm_opts small { display: block; padding: 4px; width: 700px; font-size: 12px; color: #666; line-height: 20px; }
.rm_opts input[type="text"], .rm_opts select { width: 280px; font-size: 12px; padding: 4px; color: #333; line-height: 20px; background: #f3f3f3; }
.rm_input input:focus, .rm_input textarea:focus { background: #fff; }
.rm_input textarea { width: 280px; height: 60px; font-size: 12px; padding: 4px; color: #333; line-height: 20px; background: #f3f3f3; }
.rm_title h3 { cursor: pointer; font-size: 14px; text-transform: uppercase; margin: 0; font-weight: bold; color: #232323; float: left; width: 80%; padding: 14px 4px; }
.rm_title { cursor: pointer; border-bottom: 1px solid #ddd; padding: 0; height: 50px; }
.rm_title h3 img.inactive { margin: -1px 10px 0 2px; width: 19px; height: 19px; background: url(collapse.png) no-repeat 0 0; float: left; }
.rm_title h3 img.active { margin: -1px 10px 0 2px; width: 19px; height: 19px; background: url(collapse.png) no-repeat 0 -19px; float: left; }
.rm_title span.submit { display: block; float: right; margin: 0; padding: 0; width: 15%; padding: 14px 0; }
.clearfix { clear: both; }
.rm_table th, .rm_table td { border: 1px solid #bbb; padding: 10px; text-align: center; }
.rm_table th, .rm_table td.feature { border-color: #888; }
.kg { padding-top: 100px; }
.vright { float: right; }
.wrap .version_tips { display: none; margin: 20px 0; padding: 5px; border: 1px solid #E6DB55; background: #FFFBCC; }
.theme-info{ border:3px dashed #ddd; padding:15px;}
.theme-info h3{ margin:0 0 15px 0; font-size:14px;}
